// app global css

@font-face
    font-family staatliches
    src url('./fonts/Staatliches/Staatliches-Regular.ttf')
.font-title
    font-family 'staatliches'

@font-face
    font-family squada-one
    src url('./fonts/Squada_One/SquadaOne-Regular.ttf')
.font-squada
    font-family 'squada-one'
